body {
    font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
    max-width: 33em;
    margin: 0 auto;
    font-size: 18px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
